body {
  padding: 12px;
}

.timer {
  margin-top: 60px;
  position: absolute;
  text-align: center;
}

.field {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.value {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
}

.label {
  margin-top: 12px;
  font-size: 20px;
}
button[data-start] {
  font-size: 16px;
  padding: 4px;
  border-radius: 6px;
  margin-left: 4px;
}
